@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rca-purple: #534AB7;
  --rca-purple-light: #EEEDFE;
  --rca-purple-mid: #7F77DD;
  --rca-purple-dark: #3C3489;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
